body {
	font-family: 'Lato', sans-serif;
}

.tube-heading {
  padding-top: 6em;
  padding-bottom: 6em;
  margin-bottom: 0;
  background-color: #f7f7f7;
}

.form-heading {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 0.625em;
}

p {
  font-size: 1em;
}

.form-search {
	max-width: 20.625em;
	padding: 1em;
	margin: 0 auto;
	font-weight: 400;
}

.form-search .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 0.625em;
	font-size: 1em;
}

.form-search .form-control:focus {
	z-index: 2;
}

.form-search input[type="text"] {
	margin-bottom: 0.625em;
}

button {
  cursor:pointer;
}

.results {
  min-height: 50em;
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #fff;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75em;
  margin-bottom: 2em;
  border: 0;
}

.result-title {
  font-size: 1em;
  font-weight: 500;
  padding-top: 1em;
}

@media only screen and (max-device-width: 667px) {
  #search-results {
    display: inline-grid;
  }
  .card {
    min-height: 18.750em;
    min-width: 18.750em;
  }
}